@import "../../../Styles/mixins.scss";

.infoCardsSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 120px 0;
  gap: 30px;
}

@include large {
  
  .infoCardsSection {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
}

@include small {
  .infoCardsSection {
    grid-template-columns: 300px;
  }
}

@media (max-width: 640px) {
  .infoCardsSection {
    display: flex; // Use flexbox for better adaptability on very small screens
    flex-direction: column; // Stack items vertically
    align-items: center; // Center items
    gap: 20px; // Adjust gap for smaller screens
  }
}
@media (max-width: 1366px){
  .infoCardsSection {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 10px;
  }
}